/********************************************
* CSS Styles for Lotus Cat Movement
* https://lotuscatmovement.com
*
* @author keller.kimberly@gmail.com
********************************************/

/********************************************
* LOTUS CAT Custom Colors

* Header/footer rgb(56, 67, 64)
* Links/logo rgb(104,195,163)
*
*
* @author keller.kimberly@gmail.com
********************************************/

/********************************************
* Layout Styles
*
* These styles control the layout
********************************************/
@media (max-width:768px) {
	.media-img {
		max-width: 80%;
		margin: 0px auto;
	}
}

body {
	background-color: ghostwhite;
}

header {
	background-color: rgb(56, 67, 64);
	padding-top: 10px;
	margin-bottom: 40px;
}

footer {
	color: rgb(104,195,163);
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	background-color: rgb(56, 67, 64);
	margin-top: 40px;
	padding: 30px 0;
}



/********************************************
* Utility Styles
*
* base styles used throughout the site
********************************************/

h1 {
	font-family: 'Reenie Beanie', sans-serif;
	font-size: 50px;
}


.custom-image {
	margin: 0px auto;
	max-width: 83%;

}

.content-box {
	padding: 0px 20px;
}

.fa {
	color: rgb(56, 67, 64) !important;
	font-size: 30px;
	margin: 0px 5px;
}

hr {
	border-color: rgb(104,195,163) !important;
}

/********************************************
* Home Styles
*
* These styles control the layout
********************************************/

#homerow {
	margin-top: 10%;
}

#h1-home {
	font-size: 4em;
}

.btn-home {
	font-family: 'Reenie Beanie', sans-serif;
	font-size: 42px;
	padding: 1% 4%;
	margin: 5%;
	color: rgb(104,195,163);
	background-color: rgb(56, 67, 64);
}

/********************************************
* Nav Styles
*
* These styles control the layout
********************************************/

.nav a {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	color: rgb(104,195,163);
}

/********************************************
* Form Styles
********************************************/

.form-wrap {
	background-color: rgba(104,195,163, .8);
}



.input-group-addon {
	background-color:  rgb(104,195,163);
	color: rgb(56, 67, 64);
	border: solid rgb(56, 67, 64) 1px;
	border-radius: 0;
}

.control-label {
	font-family: 'Lato', sans-serif;
}

.input-group .form-control {
	background-color:  rgb(104,195,163) !important;
	border: solid rgb(56, 67, 64) 1px;
	border-radius: 0;
}

textarea.form-control {
	background-color:  rgb(104,195,163) !important;
	border: solid rgb(56, 67, 64) 1px;
	border-radius: 0;
}

#contactForm .btn {
	margin: 0px 0px 20px;
	background: rgb(104,195,163) !important;;
	border-color: rgb(56, 67, 64) !important;
	border-radius: 0;
	box-shadow: none;
	color: rgb(56, 67, 64) !important;
	text-shadow: none;
	transition: all 250ms ease;
	-moz-transition: all 250ms ease;
	-ms-transition: all 250ms ease;
	-o-transition: all 250ms ease;
	-webkit-transition: all 250ms ease;
}

/********************************************
* Footer Styles
********************************************/

/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
	background-size: cover;
	padding-bottom: 100px;
}

/********************************************
* Special Corrective Styles
*
* These styles control some special corrections
********************************************/

#logo {
	font-size: 30px;
	font-family: 'Reenie Beanie', sans-serif;
	color: rgb(104,195,163);
}


.inline {
	display: inline;
}
